$breakpoint: (
  desktop: "screen and (min-width: 1024px)",
  pc: "screen and (max-width: 1024px)",
  tab: "screen and (max-width: 768px)",
  sp: "screen and (max-width: 480px)",
  sp420: "screen and (max-width: 420px)",
  sp400: "screen and (max-width: 400px)",
  sp390: "screen and (max-width: 390px)",
  sp375: "screen and (max-width: 375px)",
  sp320: "screen and (max-width: 320px)",
);

@mixin mq($bp) {
  @media #{map-get($breakpoint, $bp)} {
    @content;
  }
}